@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
body {
	background: #fff;
	color: #888;
	font-family: 'Lato';
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: auto;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
h3{
	font-size: 3em;
}


/*navbar*/
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-inner{
	margin: 0 auto;
	 margin-top: -45px;
		width: 90%;
	max-width: 69em;
	
	padding: 0 1.875em;
}
.nav-big{  height: 80px;
	padding-top: 25px;
	padding-right: 150px;
	font-size: 1.2em;
	 border-bottom: 1px solid rgba(255, 255, 255, 0.2);


}


.navbar.navbar-fixed-top {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  height: 95px;
  border-bottom: 1px solid #333;
}
.navbar.navbar-fixed-top .navbar-brand {
  margin: 10px 0 !important;
  width: 147px;
  height: auto;
}
.navbar.navbar-fixed-top .navbar-nav>li>a {
  margin: 32px 15px;
}
.navbar.navbar-fixed-top .btn.btn-donation {
  margin: 25px 15px;
}
.navbar .navbar-brand {

  margin: 25px 0 !important;
  padding: 0;
  padding-top: 25px;
  width: 175px;
}


.navbar-nav {

  float: right;

}
.navbar-nav>li>a {
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  line-height: 30px;
  margin: 55px 15px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
	 -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
  background-color: transparent;
  color: #FFCD00;
}
.navbar-nav>li.active>a {

  color: #FFCD00;
}
.navbar-nav>li.open>a,
.navbar-nav>li.open>a:focus,
.navbar-nav>li.open>a:hover {
  background-color: transparent;
}




/*Hero */
.floating-logo{
	position: absolute;
	width: 100%;
	
	margin-top: -50px;
	left: 0px;
	top: 0px;
	z-index: 99;
	background: url("../images/logo.png") no-repeat center center;
}
#floating-txt{
	text-align: center;
	position: relative;
	color:#fff;
	margin-top: 700px;
	-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	
	}

#d_loading {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	z-index: 3;
	background: url("../images/loading.gif") no-repeat center center;
}

#mycanvas {
	width: 100%;
	margin-top: -100px;
	/*
	position: fixed!important;
	position: absolute;*/
	
	
	z-index: 2;
	
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-o-transform-origin: 0px 0px;
	-webkit-filter: contrast(120%);
	-moz-filter: contrast(120%);
	-o-filter: contrast(120%);
	filter: contrast(120%);

	
	/* -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
	-moz-transform: translate(0px 0px) scale(1);
	-o-transform:translate(0px 0px) scale(1);
	 */
}
@-webkit-keyframes moveDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(1100px);
    }
}

@-moz-keyframes moveDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(1100px);
    }
}

@-o-keyframes moveDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(1100px);
    }
}

@keyframes moveDown {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(1100px);
    }
}

@-webkit-keyframes moveUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(-460px);
    }
}

@-moz-keyframes moveUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes moveUp {
    0% {
        opacity: 1;
        -o-transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes colorChange {
    0% {
        opacity: 1;
       color:#fff;
    }   100% {
        opacity: 1;
        color:#000;
    }
}

@-moz-keyframes colorChange {
    0% {
        opacity: 1;
       color:#fff;
    }

    100% {
        opacity: 1;
         color:#000;
    }
}

@-o-keyframes colorChange {
    0% {
        opacity: 1;
       color:#fff;
    }

    100% {
        opacity: 1;
         color:#000;
    }
}

@keyframes colorChange {
    0% {
        opacity: 1;
        color:#fff;
    }

    100% {
        opacity: 1;
         color:#000;
    }
}
.animated.moveDown {
    -webkit-transform: translate3d(0, 140%, 0);
    -moz-transform: translate3d(0, 140%, 0);
      -ms-transform: translate3d(0, 140%, 0);
          transform: translate3d(0, 140%, 0);
          
}
.animated.moveUp {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

          }
.colorChange{
	-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
color: #000!important;
}

.animated {
 -webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;

		-webkit-animation-duration: 1s;
		animation-duration: 1s;

		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
}

.txt-container{
	
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 750px;
	text-align: center;

}

.fp-tooltip{
		color: #AAA;
	}
	#fp-nav span, .fp-slidesNav span{
		border-color: #AAA;
	}
	#fp-nav li .active span, .fp-slidesNav .active span{
		background:#FFCD00;
	}

/* 6) Layout
------------------------------------------------- */
	
blockquote {
	border-left: 1px dotted #999;
	padding-left: 10px;
	margin-left: 20px;
	margin-bottom: 15px;
	font-style: italic; }
	
blockquote.large_blockquote {
	border: none;
	padding: 10px 0 0 50px;
	background: transparent url(../images/quotemark.jpg) no-repeat 0 0px;
	margin-top: 10px;
	margin-left: -15px;
		margin-bottom: 5px;
		font-size: 21px;
		line-height: 27px;
		font-family: Georgia, arial, serif; 
		 }
	
blockquote.large_blockquote span {
	font-size: 12px;
	display: block;
	color: #FFCD00;
	clear: left;
}

.intro {
	font-size: 16px;
	line-height: 23px; }


img {
	display: block; 
	} /* fix whitespace after */

footer.project_info {
	color: #fff;
	padding: 5px 15px 0px 15px;
	background-color: rgb(179,202,72);
	background-color: rgba(179,202,72,0.8);
	position: absolute;
	bottom: 24px;
	right: 0px;
	width: 270px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2); }
	




footer h4 {
	color: #fff;
	margin-top: 4px;
}


h4.project_name {
	color: #fff;
	margin-top: 5px;
}

.small {
	font-style: italic;
	font-size: 11px;
}

nav p.small {
	float: right;
	margin-top: 0px;
	color: #CCCCCC;
}

.project_client {
	font-style: italic;
}

footer.project_info p {
	opacity:1;
	filter:alpha(opacity=100);
}

div.pics div {
	position: relative;
}

a.zoom {
	position: absolute;
	bottom: 10px;
	left: 12px;
	background: transparent url(../images/mag.png) no-repeat;	
	width: 17px;
	display: block;
	height: 14px;}
	
a.zoom:hover {
	background: transparent url(../images/mag-over.png) no-repeat;}

.pointer {
	position: absolute;
	bottom: -8;
	left: 30px;
	z-index: 100;
}
.entry-content {
	padding: 5px 30px 15px 30px;border-width:5px;	
    border-style:solid;
    border-color: #FFCD00;
}

article {

}

#zoom_table {
	z-index: 20;
}

#content {
	margin-left: 103px;
	margin-top: 50px;
}

#wrapper {
	margin-top: 50px;
	padding-left: 8%;
	margin: 0 auto 0 auto; }

#skip_to {
	position: absolute;
	left: -9999px; }

.hidden {
	display: none; }

.clear_it {
	clear: both;
	height: 0; 
    margin: 0;
    font-size: 1px;
    line-height: 0; }

.wrap {
	background: #F4F4F5;
	border: 0px solid #456;
	margin: 50px 0 0 0;

	clear: both; }

	.box {
	margin: 0 0 0 0;
	padding-bottom: 24px;
	float: left;
	background: #fff url(../images/curl.jpg) no-repeat bottom;
		}
		


div.video {

	width: 380px;
	overflow: hidden; 
	border-width:5px;	
    border-style:solid;
    border-color: #FFCD00;
    margin-bottom: 10px;
}
	
div.video iframe {


	margin-left: -15px;


}

nav {
	margin-bottom: 62px;
	display: block;}
	
nav.box {
	background: none;
}

.filter_by {
	float: left;
	margin-right: 13px;
	font-size: 11px; 
	margin-top: 12px;
	color: #B3CA4A;
	font-style: italic;
	margin-left: 30px;
}

	.col1 { width: 380px; }
	.col2 { width: 380px; }
	.col3 { width: 380px; }
	.col4 { width: 380px; }
	.col5 { width: 380px; }

	.col1 img { max-width: 380px; }
	.col2 img { max-width: 380px; }
	.col3 img { max-width: 380px; }
	.col4 img { max-width: 380px; }
	.col5 img { max-width: 380px; }

	


	/* Infinite Scroll loader */
	#infscr-loading { 
	  z-index: 5000;
	  position: fixed;
	  left: 40%;
	  bottom: 40px;
	  width: 200px;
	  height: 100px;
	  padding: 10px;
	  background: #000; 
	  opacity: 0.8;
	  color: #FFF;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	}


	/**** Scroll ****/

		/* root element for single scroll */
		.scroll {
			border-width:5px;	
    border-style:solid;
    border-color: #FFCD00;

			position:relative;
			overflow:hidden;
			width: 380px;
			height: 300px;
			float:left;
		}

		/* root element for the scroll pics */
		.scroll .pics {

			width:20000em;
			position:absolute;
			clear:both;
			background-color: #000;
		}

		/* single scroll item */
		.pics div {
			float:left;
			cursor:pointer;
			width:380px !important;
			height:300px;
			opacity:0.8;
			filter:alpha(opacity=80);
			margin:0px;

			-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		}
		
			.pics div:hover {
				opacity:1;
				filter:alpha(opacity=10#FFF0);
			}

		/* possible settings for the active scroll */
		.scroll.active {

		}
		/* XX) No JS Styles
------------------------------------------------- */


	.no-js .box {
		float: left;
		margin: 0 20px 0 0;
		clear: both;}

.no-js .scroll .pics {
	clear: none;
	position: relative;
	width: auto; }

.no-js .scroll {
	overflow: visible;
	height: auto; }

.no-js .project_info {
	position: static;
	background-color: #fff;
	color: #878787;
	display: block; }
	
.no-j {
	display: none;
}

.no-js .no-j {
	display: inline;
	font-weight: bold;
	margin-left: 30px;
}


.no-js .zoom {
	display: none;
}

.no-js .photo {
	opacity: 1;
}

#no-java {
	display: none;
}

.no-js #no-java {
	display: inline;
}


.no-js #java {
	display: none;
}

#about article.filter2, #about article.filter3, #about article.filter4 {
	display: none; }

#projects article.filter1, #projects article.filter3, #projects article.filter4 {
	display: none; }
	
#blogs article.filter1, #blogs article.filter2,  #blogs article.filter4 {
	display: none; }

#we-like article.filter1, #we-like article.filter2, #we-like article.filter3 {
	display: none; }




	/*Search */
	.ngtsearch {
	width: 200px;
	min-height: 40px;
	background-color: transparent;
	position: fixed;
	z-index: 10000;
	top: 1%;
	right: 1%;
	border-width:1px;	
    border-style:solid;
    border-color: #FFCD00;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition-property: min-height, width, top, right;
	transition-property: min-height, width, top, right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);

}
.ngtsearch-big{
	width: 250px;
	top: 2%;
	border-width:2px;	
	background-color: transparent;

}

.ngtsearch.open {
	border-width:0px;
	background: #f1f1f1;
	width: 100%;
	min-height: 100%;
	top: 0px;
	right: 0px;
}

.ngtsearch-form {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;

	-webkit-transition-property: width, height, -webkit-transform;
	transition-property: width, height, transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.ngtsearch.open .ngtsearch-form {
	width: 80%;
	height: 160px;
	background-color: rgba(255,255,255,0.3);
	-webkit-transform: translate3d(0,3em,0);
	transform: translate3d(0,3em,0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.ngtsearch.open .ngtsearch-form:hover,
.ngtsearch.open .ngtsearch-form:focus,
.ngtsearch.open .ngtsearch-form:active
 {background-color: rgba(255,255,255,0.5);
 }

.ngtsearch-input {
	width: 100%;
	height: 100%;
	padding: 0 10% 0 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 0.8em;
	color: #FFCD00;

	-webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
	transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);

}

.ngtsearch-input::-ms-clear { /* remove cross in IE */
	border-width:0px;
    display: none;
}

.ngtsearch.hideInput .ngtsearch-input {
	border-width:0px;
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.ngtsearch.open .ngtsearch-input {
	border-width:2px;	
    border-style:solid;
    border-color: #FFCD00;
	font-size: 7em;

}

/* placeholder */
.ngtsearch-input::-webkit-input-placeholder {
	font-size: 1.2em;
	color: #fff;
}

.ngtsearch-input:-moz-placeholder {
	font-size: 1.2em;
	color: #fff;
}

.ngtsearch-input::-moz-placeholder {
	font-size: 1.2em;
	color: #fff;
}

.ngtsearch-input:-ms-input-placeholder {
	font-size: 1.2em;
	color: #fff;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
}

.ngtsearch-input:focus,
.ngtsearch-submit:focus {
	outline: none;
}

.ngtsearch-submit {
	position: absolute;
	width: 80px;
	height: 80px;
	text-indent: 100px;
	overflow: hidden;
	right: 0;
	top: 50%;
	background: transparent url(../images/magnifier.svg) no-repeat center center;
	background-size: 100%;
	border: none;
	pointer-events: none;
	transform-origin: 50% 50%;
	opacity: 0;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
	transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.ngtsearch.open .ngtsearch-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.ngtsearch-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.ngtsearch.open .ngtsearch-close {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.ngtsearch-close::before,
.ngtsearch-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.2;
	background: #000;
}

.ngtsearch-close:hover.ngtsearch-close::before,
.ngtsearch-close:hover.ngtsearch-close::after {
	opacity: 1;
}

.ngtsearch-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ngtsearch-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.ngtsearch-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.ngtsearch.open .ngtsearch-content {
	opacity: 1;
	height: auto;
	overflow: visible; 
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.dummy-column {
	width: 30%;
	padding: 0 0 6em;
	float: left;
	opacity: 0;
	-webkit-transform: translate3d(0,100px,0);
	transform: translateY(100px);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.ngtsearch.open .dummy-column:first-child {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.ngtsearch.open .dummy-column:nth-child(2) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.ngtsearch.open .dummy-column:nth-child(3) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.ngtsearch.open .dummy-column {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.dummy-column:nth-child(2) {
	margin: 0 5%;
}

.dummy-column h2 {
	font-size: 1.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 800;
	color: #c2c2c2;
	padding: 0.5em 0;
}

.round {
	border-radius: 50%;
}

.dummy-media-object {
	padding: 0.75em;
	display: block;
	margin: 0.3em 0;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(255,255,255,0.5);

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.dummy-media-object:hover,
.dummy-media-object:focus {
	background: rgba(255,255,255,0.9);
}

.dummy-media-object img {
	display: inline-block;
	width: 50px;	
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.dummy-media-object h3 {
	vertical-align: middle;
	font-size: 1.5em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	width: calc(100% - 70px);
	color: rgba(145,145,145,0.7);
	
}

.dummy-media-object:hover h3 {
	color: #FFCD00;
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.ngtsearch.open ~ .overlay {
	opacity: 1;
}

@media screen and (max-width: 53.125em) {
	.ngtsearch-input {
		padding: 0 25% 0 10px;
	}
	.ngtsearch.open .ngtsearch-input {
		font-size: 2em;
	}
	.dummy-column {
		float: none;
		width: auto;
		padding: 0 0 2em;
	}
	.dummy-column:nth-child(2) {
		margin: 0;
	}
	.ngtsearch.open .ngtsearch-submit {
		-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
		transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	}
}

@media screen and (max-width: 60.625em) {
	.ngtsearch {
		width: 80%;
		top: 10%;
		right: 10%;
	}
}





