body {
	background: #fff;
	color: #888;
	font-family: Helvetica, sans-serif; font-size:11px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: auto;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
h3{
	font-size: 3em;
}


/*navbar*/
.navbar {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 100px;
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
}
.navbar.navbar-fixed-top {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  height: 95px;
  border-bottom: 1px solid #333;
}
.navbar.navbar-fixed-top .navbar-brand {
  margin: 10px 0 !important;
  width: 147px;
  height: auto;
}


/*Hero */
.floating-logo{
	position: absolute;
	width: 100%;
	
	margin-top: -50px;
	left: 0px;
	top: 0px;
	z-index: 99;
	background: url("../images/logo.png") no-repeat center center;
}
#floating-txt{
	text-align: center;
	position: relative;
	color:#fff;
	margin-top: 700px;
	-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	
	}

#d_loading {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	z-index: 3;
	background: url("../images/loading.gif") no-repeat center center;
}

#mycanvas {
	width: 100%;
	
	/*
	position: fixed!important;
	position: absolute;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	z-index: 2;
	
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-o-transform-origin: 0px 0px;
	-webkit-filter: contrast(120%);
	-moz-filter: contrast(120%);
	-o-filter: contrast(120%);

	
	/* -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
	-moz-transform: translate(0px 0px) scale(1);
	-o-transform:translate(0px 0px) scale(1);
	 */
}
@-webkit-keyframes moveDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(1100px);
    }
}

@-moz-keyframes moveDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(1100px);
    }
}

@-o-keyframes moveDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(1100px);
    }
}

@keyframes moveDown {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(1100px);
    }
}

@-webkit-keyframes moveUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(-460px);
    }
}

@-moz-keyframes moveUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes moveUp {
    0% {
        opacity: 1;
        -o-transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes colorChange {
    0% {
        opacity: 1;
       color:#fff;
    }   100% {
        opacity: 1;
        color:#000;
    }
}

@-moz-keyframes colorChange {
    0% {
        opacity: 1;
       color:#fff;
    }

    100% {
        opacity: 1;
         color:#000;
    }
}

@-o-keyframes colorChange {
    0% {
        opacity: 1;
       color:#fff;
    }

    100% {
        opacity: 1;
         color:#000;
    }
}

@keyframes colorChange {
    0% {
        opacity: 1;
        color:#fff;
    }

    100% {
        opacity: 1;
         color:#000;
    }
}
.animated.moveDown {
    -webkit-transform: translate3d(0, 150%, 0);
    -moz-transform: translate3d(0, 150%, 0);
      -ms-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 150%, 0);
          
}
.animated.moveUp {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

          }
.colorChange{
	-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
color: #000!important;
}

.animated {
 -webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;

		-webkit-animation-duration: 1s;
		animation-duration: 1s;

		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
}

.txt-container{
	
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 750px;
	text-align: center;

}

.fp-tooltip{
		color: #AAA;
	}
	#fp-nav span, .fp-slidesNav span{
		border-color: #AAA;
	}
	#fp-nav li .active span, .fp-slidesNav .active span{
		background:#FFCD00;
	}

