body {
	background: #fff;
	color: #888;
	font-family: Helvetica, sans-serif; font-size:11px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: auto;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/*
#fe_scene {
	outline: 0;
	border: 0;
	background-color: #000;
	color: #888;
	font-size: 14px;
	padding: 3px;
}
*/

#d_loading {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	z-index: 3;
	background: url("../images/loading.gif") no-repeat center center;
}

#mycanvas {
	width: 100%;
	
	/*
	position: fixed!important;
	position: absolute;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	z-index: 2;
	
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-o-transform-origin: 0px 0px;
	
	/* -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
	-moz-transform: translate(0px 0px) scale(1);
	-o-transform:translate(0px 0px) scale(1);
	 */
}
